{% extends "base.html" %}
{% block home %}
    
<!-- <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat veniam iusto dignissimos molestiae quibusdam
    dicta accusamus placeat provident culpa delectus.</h1>
<h1>Contents</h1>
<ul>
    <li><a href="">Contests</a></li>
    <li><a href="">The first heading</a></li>
    <li><a href="">The first sub-heading</a></li>
    <li><a href="">The second sub-heading</a></li>
</ul>
<div class="heading">
    <h1>The first heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint assumenda corporis laboriosam explicabo saepe atque
        reprehenderit voluptates fugiat pariatur aspernatur neque distinctio itaque, quas quibusdam? Rerum minus beatae
        debitis repellendus.</p>
    <h2>The first sub-heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, voluptates eligendi. Reprehenderit sint
        blanditiis cupiditate rerum. Odio eius quas omnis exercitationem earum. Quibusdam necessitatibus, quis officia
        fugit eum beatae explicabo? Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam repellat ipsam velit autem perspiciatis cumque officia culpa voluptates id quas.</p>
    <h3>The second sub-heading</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis doloremque fuga dolores praesentium quia
        nam mollitia, voluptas aperiam ipsum voluptate a laboriosam qui dolor sequi pariatur, consequatur voluptatem,
        assumenda Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae fugiat pariatur exercitationem
        doloremque nostrum aperiam magni non! Nobis reiciendis, ipsam eaque similique unde cumque, quos voluptatem
        facilis blanditiis ducimus molestias.</p>
    </div> -->
    <link rel="stylesheet" href="style.css">
        <header>
          <div class="main">
            <div class="header_img">
                <img src="./icons8-phone-50.png" alt="">
                <img src="Git-2.43.0-64-bit.exe" alt="">
                <i class="fa-solid fa-x"></i>
            </div> 
            <div class="logo">
                <p>logo</p>
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
        <h1>Keto Ice Cream Recipes</h1>
        <div class="box">
            <div class="box-1">
                <h3>Raspberry ice cream</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, hic!</p>
                <button>LEARN MORE</button>
            </div>
            <div class="box-2">
                <h3>Caramel Butter Pecan</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, labore voluptates.</p>
                <button>LEARN MORE</button>
            </div>
            <div class="box-3">
                <h3>Just 4 Ingredients</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt enim omnis qui.</p>
                <button>LEARN MORE</button>
            </div>
        </div>
        <p>Images from <a href="">Freepik</a></p>
    </div>
<!-- {% endblock home %} -->